.corner-ribbon {
  width: 250px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  /* line-height: 20px; */
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  overflow: hidden;
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* Different positions */

.corner-ribbon.top-right {
  /* top: 18px; */
  top: 18px;
  right: -100px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(46deg);
  overflow: hidden;
}
.corner-ribbon.blue {
  background: #39d;
}
